.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
  }
.star {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    color: #ccc;
}
.star:hover,
.star:hover ~ .star {
    color: #fdd835; /* Change to desired hover color */
}
.star.active,
.star.active ~ .star {
    color: #fdd835; /* Change to desired active color */
}
#reviewImg{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
   display: block;
}
#recipeName{
  text-align: center;
}
.bradcam_bg_review {
  background-image: url(../img/banner/reviewBanner.jpg);
}